/* Your Admin Style */

form#hmrm-general-settings-form input.regular-text,
table.hmrm-education-info-table input.regular-text,
table.hmrm-experience-info-table input.regular-text {
    max-width: 300px;
}

#hmrm_shortcode {
    padding: 10px;
    text-align: center;
    border: 2px dotted #FF0000;
    background: #FFAA2B;
    font-size: 18px;
    font-weight: 600;
    max-width: 430px;
}

table.hmrm-education-info-table,
table.hmrm-experience-info-table {
    border: 1px solid #CCC;
}

table.hmrm-education-info-table th,
table.hmrm-education-info-table td,
table.hmrm-experience-info-table th,
table.hmrm-experience-info-table td {
    padding: 10px;
    border-bottom: 1px solid #CCC;
    background: #F8F8F8;
    text-align: left;
    vertical-align: middle;
}

a.delete,
a.hmrm-exp-delete {
    color: #CC0000;
}

a.delete:hover,
a.hmrm-exp-delete:hover {
    color: #FF0000;
}


/* Alert Bar Started */

.hmrm-alert {
    padding: 20px !important;
    color: white;
}

.hmrm-alert.success {
    background-color: #6ABD6E;
}

.hmrm-alert.error {
    background-color: #F66358;
}

.hmrm-alert.warning {
    background-color: #FFAA2B;
}

.hmrm-alert.info {
    background-color: #47A8F5;
}

.hmrm-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.hmrm-closebtn:hover {
    color: black;
}


/* Alert Bar Ended */