/* Your Admin Style */

form#hmrm-general-settings-form input.regular-text,
table.hmrm-education-info-table input.regular-text,
table.hmrm-experience-info-table input.regular-text {
    max-width: 300px;
}

#hmrm_shortcode {
    padding: 10px;
    text-align: center;
    border: 2px dotted #FF0000;
    background: #FFAA2B;
    font-size: 18px;
    font-weight: 600;
    max-width: 430px;
}

table.hmrm-education-info-table,
table.hmrm-experience-info-table {
    border: 1px solid #CCC;
}

table.hmrm-education-info-table th,
table.hmrm-education-info-table td,
table.hmrm-experience-info-table th,
table.hmrm-experience-info-table td {
    padding: 10px;
    border-bottom: 1px solid #CCC;
    background: #F8F8F8;
    text-align: left;
    vertical-align: middle;
}

a.delete,
a.hmrm-exp-delete {
    color: #CC0000;
}

a.delete:hover,
a.hmrm-exp-delete:hover {
    color: #FF0000;
}


/* Alert Bar Started */

.hmrm-alert {
    padding: 20px!important;
    color: white;
}

.hmrm-alert.success {
    background-color: #6ABD6E;
}

.hmrm-alert.error {
    background-color: #F66358;
}

.hmrm-alert.warning {
    background-color: #FFAA2B;
}

.hmrm-alert.info {
    background-color: #47A8F5;
}

.hmrm-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.hmrm-closebtn:hover {
    color: black;
}


/* Alert Bar Ended */


/* The Modal (background) */

.hmrm-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.hmrm-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.hmrm-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.hmrm-modal-close:hover,
.hmrm-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hmrm-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.hmrm-modal-body {
    padding: 2px 16px;
}

.hmrm-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}